/******************************** Estilo Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.topo, #sobre, #pontos, #galeria {
    width: 100%;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 28px;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.destaque p:first-letter {
    font-weight: bold;
}

/******************************** Estilo Topo*/

.conteudo-topo {
    max-width: 1150px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 120px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-grow: 1;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px 0
}

.menu a:hover {
    border-bottom: 2px #f5c002 solid;
    border-top: 2px #f5c002 solid;
}

/******************************** Estilo Conteúdo*/
/******************************** Estilo Banner*/

.banner {
    background-image: url(img/bg-estacao.png);
    background-size: cover;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.banner div {
    z-index: 1;
    color: white;
    text-align: center;;
}



/******************************** Estilo Sobre*/

.conteudo-sobre {
    max-width: 1150px;
    padding: 30px 30px;
    margin: 0 auto;
    text-align: center;
}



.conteudo-sobre img {
    width: 100%;
}

.conteudo-sobre p {
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
}



/******************************** Estilo Pontos Turisticos*/

#pontos {
    background-color: rgba(216, 216, 216, 0.555);
}

.conteudo-pontos {
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px 30px;
    position: relative
}

.conteudo-pontos img {
    width: 100%;
    margin-bottom: 20px;
}

.conteudo-pontos p {
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: URL(img/seta.png);
    background-size: 20px 20px;
    margin-right: 10px;
    display: inline-block;
}

/******************************** Estilo Galeria*/

.conteudo-galeria {
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px 30px;
}

.conteudo-galeria p {
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
}

.fotos {
    width: 100%;
}

.fotos img {
    width: calc((100% / 3) - 3px);
    opacity: 0.6;
}

.fotos img:hover {
    opacity: 1;
}

/******************************** Estilo Rodapé/footer*/

footer {
    width: 100%;
    height: 50px;
    margin: 25px 0 0 0;
    background: #f5c002;
    display: flex;
    justify-content: center;;
    align-items: center;
}

